<html>
<head>
    <title>6-minute walk test</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="information"></div>
        <div class="content">
            <h2>- </h2>
            <h1>-<br> -</h1>
            <button type='button' onclick="location.href='http://localhost:5000//run_realtime'">Real-Time Mode</button>
            <button type='button' onclick="location.href='upload'">Normal Mode</button>
            <button type='button' onclick="location.href='upload_timemode'">Timed Mode</button>
        </div>
</body>

</html>
