<!-- <html>
<head>
    <title>6-minute walk test</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='inputs.css') }}">
</head>
<body>
    <div class="information"></div>
    <h1>Upload new File</h1>
    <form action="/run_normal_mode" method=post enctype=multipart/form-data>
        <div class="login-box">
            <h1>Upload Video</h1>
      <p><input type=file name=file><br><br>
        <input type=submit value=Upload class='btn'>
    </form>
    </div>
    </body>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
    <title>6-minute walk test</title>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>

<body>

<div>
    <h1>Hello <!DOCTYPE html></h1>
    <div id="wrapper">
        <canvas id='Chart_1'>
            <script src ="../static/Chart.js"></script>
        </canvas>
    </div>

</div>

    </body>
</body>
</html>